/*-----Button back -----*/
.button__back {
  text-decoration: underline;
  margin-left: 2rem;
}
/*-----Film detail -----*/
.film {
  margin: 0 auto;
  max-width: 60rem;

  &__title,
  &__genres,
  &__description,
  &__poster {
    text-align: center;
  }

  &__title {
    margin: 1rem 0;
    font-size: 1.2rem;
  }

  &__img {
    width: 100%;
    max-width: 300px;
    max-height: 450px;
  }

  &__genres {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    & div {
      text-align: center;
      border-radius: 10%;
      background-color: #e50914c2;
      padding: 0.5rem;

      align-content: center;
    }
  }

  @media screen and (min-width: 570px) {
    &__poster {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }

    &__description,
    &__img {
      flex: 1 1 50%;
    }

    &__title,
    &__description {
      text-align: left;
    }

    &__img {
      min-width: 200px;
      max-width: 300px;
    }

    &__genres {
      justify-content: flex-start;
    }
  }

  @media screen and (min-width: 650px) {
    &__poster {
      gap: 3rem;
    }
  }
}
