* {
  box-sizing: border-box;
}
html,
button {
  font-family: 'Open Sans', sans-serif;
}

body,
button {
  color: #ffffff;
}

html {
  font-size: 16px;
}

body {
  background-color: #000000;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
}

main {
  margin: 0 auto;
}

button {
  display: inline-block;
  border: none;
  background: none;
  font-size: 1.1rem;

  &:hover {
    cursor: pointer;
  }
}
